html {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 15px;
}

h1 {
    background-color: #E3B261;
    width: 300px;
    color: white;
    margin: 5px auto;
    text-align: center;
}

.content {
    background-color: whitesmoke;
    height: 100vh;
    padding: 50px;
    margin: 0px;
}

h2 {
    color: black;
    padding: 0px;
    margin-bottom: 20px;

}

.menu {
    color: black;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;

}

a {
    color: #674636;
    font-weight: 500;
    text-decoration: none;
}

img {
    margin-top: 5px;
}

ol {
    padding-left: 15px;
    
}

.back {
    text-decoration: underline;
    font-size: 17px;
}